.tabbar-item {
	height: 31px;
	line-height: 31px;

	&.active {
		color: $color-bg-up;
  		border-bottom-color: $color-bg-up;
	}
}



#info-list {
	margin-top: 75px;
	
	.list-group-item {
	  	padding: 8px;
	  	margin-bottom: 0;
	  	border-top: none;
	  	border-left: none;
	  	border-right: none;
	  	border-bottom: 1px solid $color-cutline-1px-cutoff;
	  	border-radius: 0;
	  	height: 56px;
	  	font-size: $font-size-7;
	  	color: $color-text-news-text;
	  	line-height: 19px;
	}

	.list-group {
	  	margin-bottom: 0;
	}

	.time {
	  	position: absolute;
	  	right: 8px;
	  	bottom: 2px;
	  	font-size: $font-size-12;
	  	color: $color-bg-assistant-text;
	}

}


.list-group-item {
  	position: relative;
  	display: block;
  	background-color: $color-bg-nav-text;
  	border: 1px solid $color-ddd-bg;
}

a {
  text-decoration: none;
}



.tabbar-indicator {
	background-color: $color-bg-up;
}

.segmented-control-item {
	color: $color-text-nav-text;
	padding: 0 0;
	background-color: $color-bg-up;
	width: 55px;

	&.active {
		background-color: $color-bg-nav-text;
		color: $color-bg-up;
	}
}

.segmented-control {
	border: 1px solid $color-bg-nav-text;
	font-size: $font-size-7;
	line-height: 25px;
	border-radius: 0;
	-webkit-border-radius: 0;
}

.tabbar {
	height: 31px;
}


.indNews {
	ul {
	    list-style: none;

	    li {
	    	&:first-child {
	    		border-top-right-radius: 0;
    			border-bottom-right-radius: 0;
	    	}

	    	&:last-child {
	    		border-top-left-radius: 0;
   				border-bottom-left-radius: 0;
	    	}
	    }
	}

	.ventor {
	    display: inline-block;
	    cursor: pointer;
	    font-size: $font-size-20;
	    width: 50%;
	    line-height: 30px;
	    font-size: $font-size-7;
	    border: 1px solid $color-bg-nav-text;
	    border-radius: 2px;

	    &:hover {
	    	color: $color-2121-bg;
    		background: $color-bg-nav-text;
	    }
	}

	.active {
		color: $color-2121-bg;
   		background: $color-bg-nav-text;
	}
}
